<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UNIX Timestamp</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Unix TimeStamp
      </h1>
    </header>

    <main>
      <p class="bold">The following are guidelines for using timestamp,</p>
    
      <p>
        Use the following url to generate time using date in format yyyy-mm-dd<br>
        <code>https://timeparser.glitch.me/timestamp/2015-11-10</code><br><br><br>
      </p>
      <p>
        Use the following url to generate time using UNIX timestamp<br>
        <code>https://timeparser.glitch.me/timestamp/1447113600</code><br><br><br>
      </p>
      
      <p>
        Use the following url to generate current timestamp<br>
        <code>https://timeparser.glitch.me/timestamp</code><br>
      </p>
      
    </main>

  </body>
</html>
